#################
#Data      files#
#################
.DS_Store
data/
venv/
.env

###############
#Jupyter files#
###############
.ipynb_checkpoints/*


###############
#python  files#
###############
__pycache__